<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_4block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="#{review}+#{title.delete.check}+' | '+ #{shop.title}"> </title>
	<meta charset="UTF-8" />
</head>

<body class="admin">

	<h2 th:class="title" th:text="#{review}+#{title.delete.check}"></h2>
	<p th:class="check_message" th:text="#{msg.delete.check}"></p>

	<div class="info_form_area">
		<dl>
			<dt th:text="#{data.id}"></dt>
			<dd th:text="${review.id}"></dd>
			<dt th:text="#{data.item.name}"></dt>
			<dd th:text="${review.item.name}"></dd>
			<dt th:text="#{userForm.name}"></dt>
			<dd th:text="${review.user.name}"></dd>
			<dt th:text="#{reviewForm.rating}"></dt>
			<dd th:text="${review.rating}"></dd>
			<dt th:text="#{reviewForm.stampId}"></dt>
			<dd>
				<img th:if="${review.stamp != null}" th:src="@{/images/{path}(path=${review.stamp.imagePath})}" width="60" height="60" />
			</dd>
			<dt th:text="#{reviewForm.body}"></dt>
			<dd th:text="${review.body}"></dd>
		</dl>

		<div class="button_area">
			<form th:action="@{/admin/review/delete/complete}" method="post">
				<input type="submit" value="削除" class="send_button" />
			</form>
			<form th:action="@{/admin/review/list}" method="post">
				<input type="submit" value="戻る" class="back_button" />
			</form>
		</div>
	</div>

</body>

</html>
