<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_4block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="#{review}+#{title.list}+' | '+ #{shop.title}"> </title>
	<meta charset="UTF-8" />
</head>

<body class="admin review_list_admin">
<div class="review_list_admin">
	<h2 th:class="title" th:text="#{review}+#{title.list}"></h2>

	<!--/* 登録なしメッセージ */-->
	<div th:if="${#lists.isEmpty(reviews)}">
		<p th:text="#{msg.admin.list.none(#{review})}"></p>
	</div>

	<!--/* 一覧表示 */-->
	<div class="review_list_table">
	<table class="list_table review_list" th:if="!${#lists.isEmpty(reviews)}">
		<tbody>
		<tr>
			<th>[[#{data.id}]]</th>
			<th>[[#{data.item.name}]]</th>
			<th>[[#{userForm.name}]]</th>
			<th>[[#{reviewForm.rating}]]</th>
			<th>[[#{reviewForm.body}]]</th>
			<th>[[#{data.operate}]]</th>
		</tr>
		<!--/* レビュー情報 */-->
		<tr th:each="review: ${reviews}">
			<td><a th:href="@{/admin/review/detail/{id}(id=${review.id})}" th:text="${review.id}"></a></td>
			<td th:text="${review.item.name}"></td>
			<td th:text="${review.user.name}"></td>
			<td th:text="${review.rating}"></td>
			<td th:text="${review.body}"></td>
			<td>
				<form th:action="@{/admin/review/delete/check/{id}(id=${review.id})}" method="post">
					<input type="submit" value="削除" class="delete" />
				</form>
			</td>
		</tr>
		</tbody>
	</table>
	</div>
	<!--/* ページング */-->
	<ul class="paging" th:if="!${#lists.isEmpty(reviews)}">
		<li th:class="${pages.first} ? 'disabled':''">
			<span th:if="${pages.first}">&lt;&lt;</span>
			<a th:if="${not pages.first}" th:href="@{/admin/review/list(page=0)}">&lt;&lt;</a>
		</li>
		<li th:each='i : ${#numbers.sequence(0, pages.totalPages-1)}' th:class="(${i}==${pages.number})? 'active' : ''">
			<span th:if='${i}==${pages.number}' th:text='${i+1}'>1</span>
			<a th:if='${i}!=${pages.number}' th:href="@{/admin/review/list(page=${i})}">
				<span th:text='${i+1}'>1</span>
			</a>
		</li>
		<li th:class="${pages.last} ? 'disabled':''">
			<span th:if="${pages.last}">&gt;&gt;</span>
			<a th:if="${not pages.last}" th:href="@{/admin/review/list(page=(${pages.totalPages}-1))}">&gt;&gt;</a>
		</li>
	</ul>

</div>
</body>

</html>
