<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body})}">
<head>
<title th:text="#{theme} + #{title.input}"></title>
</head>
<body>
	<h2 class="title" th:text="#{theme} + #{title.input}"></h2>
	<div class="user_info_form_area">
		<p th:text="#{msg.update.input}"></p>
		<form th:action="@{/client/theme/update}" method="post">
			<ul class="input_list">
				<li>
					<label>
						<input type="radio" name="themeId" value="0" th:checked="${themeId == null or themeId == 0}" />
						<span class="radio_label" th:text="#{theme.blue}"></span>
					</label>
				</li>
				<li>
					<label>
						<input type="radio" name="themeId" value="1" th:checked="${themeId == 1}" />
						<span class="radio_label" th:text="#{theme.green}"></span>
					</label>
				</li>
				<li>
					<label>
						<input type="radio" name="themeId" value="2" th:checked="${themeId == 2}" />
						<span class="radio_label" th:text="#{theme.red}"></span>
					</label>
				</li>
			</ul>
			<input type="submit" th:value="#{title.update.complete}" class="send_button" />
		</form>
		<div class="back_to_top_link">
			<a th:href="@{/}" th:text="#{msg.back.to.top}"></a>
		</div>
	</div>
</body>
</html>
