<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="#{admin.menu} + ' | ' + #{shop.title}"> </title>
	<meta charset="UTF-8" />
</head>

<body class="admin admin_menu">
	<h2 th:class="title" th:text="#{admin.menu}"></h2>
	<div class="user_info_form_area">
		<dl>
			<div class="menu_list_area">
			<th:block th:if="${session.user.authority == 0}">
				<dd class="link_area"><a th:href="@{/admin/user/list}" th:text="#{admin.menu.user.list}"></a></dd>
				<dd class="link_area"><a th:href="@{/admin/order/list}" th:text="#{admin.menu.order.list}"></a></dd>
				<dd class="link_area"><a th:href="@{/admin/item/list}" th:text="#{admin.menu.item.list}"></a></dd>
				<dd class="link_area"><a th:href="@{/admin/category/list}" th:text="#{admin.menu.category.list}"></a></dd>
				<dd class="link_area"><a th:href="@{/admin/coupon/list}">クーポン一覧表示</a></dd>
			</th:block>
			<th:block th:if="${session.user.authority == 1}">
				<dd class="link_area"><a th:href="@{/admin/order/list}" th:text="#{admin.menu.order.list}"></a></dd>
				<dd class="link_area"><a th:href="@{/admin/item/list}" th:text="#{admin.menu.item.list}"></a></dd>
				<dd class="link_area"><a th:href="@{/admin/category/list}" th:text="#{admin.menu.category.list}"></a></dd>
				<dd class="link_area"><a th:href="@{/admin/coupon/list}">クーポン一覧表示</a></dd>
			</th:block>
			</div>
		</dl>
	</div>
</body>

</html>
